* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;

}

/* header related style  */

header {
    display: grid;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('/image/banner-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-title>h3 {
    color: #f6f0f0;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    line-height: normal;
}

.content-title>h1 {
    width: 600px;
    color: #f6f0f0;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* main content related style  */

main {
    height: 100vh;
    width: 100%;
    background-color: black;
}